/* habilidades.css */

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .skills-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    perspective: 1200px; /* Agrega perspectiva para efecto 3D */
  }
  
  .skills-icon {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    transition: transform 0.3s, border 0.3s;
  }
  
  .skills-icon:hover {
    transform: rotate(360deg); /* Efecto de giro */
    border: 2px solid white; /* Borde blanco al pasar el mouse */
  }
  